@import "./common/reset";
@import "./common/fonts";
@import "./common/mixins";
@import "./common/vars";


.body {
    font-family: $font-main;
}


.align {
    padding-left: calc(50vw - #{$site-width-desktop / 2});
    padding-right: calc(50vw - #{$site-width-desktop / 2});
}


.header {
    height: 1024px;
    background: center/cover url(./../img/header-bg.jpg) no-repeat,
    linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%);

    &__title {
        @include text(#fff, 700, 64px, 78px);
        max-width: 650px;
        padding-top: 217px;
    }

    &__text {
        @include text(#fff, 300, 18px, 32px);
        width: 480px;
        margin-top: 32px;

        em {
            @include text(#fff, 700, 18px, 32px);
        }
    }

    &__button {
        @include text(#fff, 400, 18px, 22px);
        width: 234px;
        height: 49px;
        background-color: #9C0332;
        border: none;
        border-radius: 30px;
        margin-top: 44px;
        transition: background-color 0.5s ease-out;

        &:hover {
            background-color: #EB443F;
        }
    }
}

.game {
    grid-column: span 4;
    gap: $site-gap-desktop;
    height: 300px;
    border-radius: 16px;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    border: 3px solid #000915;
    transition: border-color 0.5s ease-out;


    &__inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: $site-gap-desktop;
        padding-top: 128px;
        padding-bottom: 128px;
        background-color: #000915;
    }

    &__title{
        @include text(#fff, 600, 24px, 32px);
        margin-left: 32px;
        margin-bottom: 32px;
    }

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            background: center/cover url(./../img/games/game-#{$i}.jpg) no-repeat,
            linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
        }
    }

    &:hover {
        border-color: #44D2FF;
    }
}

@import "./adaptive/tablet";
@import "./adaptive/mobile";

