@mixin text($color, $weight, $size, $height) {
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
}

@mixin frontier($layout_size, $min_padding) {
    @media (max-width: ($layout_size + $min_padding)) {
        @content
    }
}