// adaptive for mobile size

@include frontier($site-width-tablet, $site-gap-tablet) {
    .align {
        padding-left: calc(50vw - #{$site-width-mobile / 2});
        padding-right: calc(50vw - #{$site-width-mobile / 2});
    }
    
    .header {
        height: 735px;
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        row-gap: 32px;
        background-position: 31% 0;

        &__title {
            @include text(#fff, 700, 32px, 39px);
            padding-top: 238px;
            max-width: auto;
            text-align: center;
            margin: 0;
        }

        &__text {
            @include text(#fff, 300, 14px, 22px);
            width: 300px;
            text-align: center;
            margin: 0;

            em {
                @include text(#fff, 700, 14px, 22px);
            }
        }

        &__button {
            margin: 0;
        }
    }

    .game {

        &__inner {
            
            grid-template-columns: repeat(4, 1fr);
        }
    }
}