// adaptive for tablet size

@include frontier($site-width-desktop, $site-gap-desktop) {
    
    .align {
        padding-left: calc(50vw - #{$site-width-tablet / 2});
        padding-right: calc(50vw - #{$site-width-tablet / 2});
    }
    
    .game-card {

        &__inner {

            grid-template-columns: repeat(8, 1fr);
        }
    }

    .game {
        justify-content: center;

        &__content {
            align-items: center
        }

        &__info {
            text-align: center;
        }

        &_reverse {
            flex-flow: column-reverse nowrap;
        }
    }
}